**/.ipynb_checkpoints
**/.vscode
**/__pycache__
**/datasets
**/csv
**/images
**/runs
**/notebooks
**/trained
**/results
**/real_time_data
**/UrbanSound8K
**/audio
**/audio_or
**/saved_cv
**/resources
**/*.csv
